*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
body{
	text-align: center;
	background: url("../Images/dark.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	font-size: 2rem;
}
a{
	text-decoration: none;
	color: crimson;
	transition: all 0.25s ease;
	font-size: 1.5rem;
}
a:hover{
	color: chartreuse;
	font-size: 2rem;
}
h1{
	font-weight: normal;
	font-size: 5rem;
}
p{
	font-size: 2rem;
}
