/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

/***** Reset *****/
*{
	/* font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; */
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

/***** Basics *****/
html {
	min-height: 100vh;
	overflow: hidden;
}

body{
	text-align: center;
	background-color: rgb(25,25,25);
	height: 100vh;
}

h1{
	font-weight: 400;
	font-size: 7em;
	color: rgba(255,255,255,0.75);
	padding-bottom: 0.089285em
	
}

p.text-line{
	text-align: center;
	margin: 0 auto;
	/* font-family: 'Anonymous Pro', monospace; */
	font-weight: 300;
	/* font-size: var(--textLineSize); */
	font-size: 2.5em;
	color: rgba(255,255,255,0.75);

	/*create cursor effect*/
	/* width: calc(var(--textLineSize) * 13); */
	width: calc(1em * 13);
	border-right: 2px solid rgba(255,255,255,0.75); /*Cursor illusion*/
	white-space: nowrap; /*Don't allow wrapping so text stays on one line*/
	overflow: hidden; /*Hide text creating typing illusion*/
}

/***** Icons // Navigational Links *****/
#parent {
	position: relative;
	top: 30%;
}
nav {
	font-size: 1em;
	/* padding-top: 1.25em; */
	padding-top: 3em;
	/* margin: 0 auto; */
	/* width: 60vw; */
}

#icon_list {
	list-style: none;
	font-size: 1em;
}

#icon_list li {
	vertical-align: middle;
	display: inline-block;
	/* padding: 10px; */
	/* width: 7em; */
	width: 8.25em;
	height: 5em;
}

/*Note: The icons are set to fa-3x in html, which is equivalent to 3em*/
.fa-github-square{
	color: rgb(5,5,5);
}
.fa-file-alt {
	color: rgba(255,255,255,0.60);
}
.fa-linkedin {
	color: rgb(14,118,168);
}
.fa-instagram-square {
	color: rgb(129,52,175);
}
.fa-youtube {
	color: rgb(196,48,43);
}

a{
	font-weight: 300;
	text-decoration: none;
	transition: all 0.25s ease;
	font-size: 1.5em;
}

a:link, a:visited {
	background-color: inherit;
}

a:hover{
	font-size: 2em;
	background-color: inherit;
}

a:active {
	background-color: inherit;
}



/***** Animation *****/

.typing-animation {
	animation: cursor_blink 530ms ease 2 normal, typing 3s steps(30) 1s 1 normal both, cursor_blink 530ms ease 4s infinite normal;
}

@keyframes typing {
	0% {
		width: 0px;
	}
	100% {
		width: calc(1em * 13);
	}
}

@keyframes cursor_blink {
	0% {
		border-right-color: rgba(255,255,255,0.75);
	}
	100% {
		border-right-color: transparent;
	}
}


/**** Dynamic Browser Sizing ****/

@media (max-width: 1920px) {
	#parent {
		font-size: 16px;
	}
}
@media (max-width: 1680px) {
	#parent {
		font-size: 14px;
	}
}
@media (max-width: 820px) {
	#parent {
		font-size: 10px;
	}
}
@media (max-width: 580px) {
	#parent {
		font-size: 8px;
	}
}

@media (max-height: 230px) {
	#parent {
		font-size: 7px;
	}
}

/* Mobile Display */

@media (max-width: 400px) {
	#parent {
		font-size: 7px;
	}
}
@media (max-width: 320px) {
	#parent {
		font-size: 6px;
	}
}