/***** Reset *****/
*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

/***** Basics *****/
html {
	min-height: 100vh;
	overflow: hidden;
}

body {
	text-align: center;
	background-color: rgb(25,25,25);
	height: 100vh;
}

h1 {
	font-weight: 400;
	font-size: 7em;
	color: rgb(255,255,255);
	padding-bottom: 0.089285em;
}

p.text-line {
	text-align: center;
	margin: 0 auto;
	font-weight: 300;
	font-size: 2.3em;
	color: rgba(255,255,255,0.75);

	/*create cursor effect*/
	border-right: 2px solid rgba(255,255,255,0.75); /*Cursor illusion*/
	white-space: nowrap; /*Don't allow wrapping so text stays on one line*/
	overflow: hidden; /*Hide text creating typing illusion*/
}

/***** Icons // Navigational Links *****/
#parent {
	position: relative;
	top: 30%;
}
nav {
	font-size: 1em;
	padding-top: 3em;
	margin: 0 auto;
	width: 60vw;		/*28em for 2 rows*/
}

#icon_list {
	list-style: none;
	font-size: 1em;
}

#icon_list li {
	vertical-align: middle;
	display: inline-block;
	width: 8.25em;
	height: 8.25em;		/*New line icon spacing*/
}

/*Note: The icons are set to fa-3x in html, which is equivalent to 3em*/
.fa-github-square {
	color: rgb(51,51,51);
}
.fa-file-alt {
	color: rgba(255,255,255,0.60);
}
.fa-linkedin {
	color: rgb(14,118,168);
}
.fa-youtube {
	color: rgb(196,48,43);
}

.fa-envelope {
	color: rgb(3,102,53);
}

a {
	text-decoration: none;
	transition: all 0.25s ease;
}

a:link, a:visited {
	background-color: inherit;
}

a:hover {
	font-size: 2em;
	background-color: inherit;
}

a:active {
	background-color: inherit;
}

/***** Animation *****/

.typing-animation {
	animation: cursor_blink 530ms ease 1 normal, typing 3s steps(30) 0.5s 1 normal both, cursor_blink 530ms ease 4s infinite normal;
}

@keyframes typing {
	0% {
		width: 0em;
	}
	100% {
		width: 15.5em;
	}
}

@keyframes cursor_blink {
	0% {
		border-right-color: rgba(255,255,255,0.75);
	}
	100% {
		border-right-color: transparent;
	}
}


/**** Dynamic Browser Sizing ****/
	/* Width */
@media (max-width: 1920px) {
	#parent {
		font-size: 16px;
	}
}
@media (max-width: 1680px) {
	#parent {
		font-size: 14px;
	}
}
@media (max-width: 1440px) {
	#parent {
		font-size: 12px;
	}
}
@media (max-width: 1200px) {
	#parent {
		font-size: 10px;
	}
}
@media (max-width: 960px) {	
	#parent {
		font-size: 8px;
	}
}


	/* Height */
@media (max-height: 230px) {
	#parent {
		font-size: 7px;
	}
}

/* Mobile Display */

@media (max-width: 414px) {
	#parent {
		font-size: 7.76px;
	}
}

@media (max-width: 410px) {	
	#parent {
		font-size: 7px;	
	}
}
@media (max-width: 357px) {
	#parent {
		font-size: 6px;
	}
}